#card {
	border: 1px solid grey;
	padding: 1em;
	width: 300px;
	box-shadow: 7px 7px 4px grey;
}

#info {
	border: 1px solid grey;
	padding-left: 1em;
	padding-right: 1em;
}

#fact {
	font-style: italic;
}

#desc {
	/*justify-content: center;*/
}

ul {
	list-style: none;
	padding: 0px;
}

span {
	font-weight: bold;
}

h2 {
	margin-top: 0px;
}

img{
	margin-bottom: 1em;
}